.admin-login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000;
  color: #fff;
}

.admin-login-form .admin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-login-form input[type="password"],
.admin-login-form button[type="submit"] {
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

.admin-login-form input[type="password"]::placeholder {
  text-align: center;
}

.admin-login-form button[type="submit"] {
  background-color: #ff5722;
  color: #fff;
  cursor: pointer;
  @include transition-ease;
}

.admin-login-form button[type="submit"]:hover {
  background-color: #f44336;
}
