.footer {
    position:relative;
    bottom: 0;
    text-align: center;
    padding: 1rem;
    background-color: transparent;
  }
  
  .footer h5 {
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #ffffff;
  }