<%- include('../partials/header') %>


<div class="admin-login-form">
    <form action="/admin/dashboard" method="post" class="admin-form">
      <input name="password" type="password" placeholder="Admin Password" required>
      <button type="submit">Enter</button>
    </form>
  </div>
  