<% const year = new Date().getFullYear() %>
<footer class="footer">
  <h5>&#169; <%= year %> Ashutosh Baitharu. All rights reserved.</h5>
</footer>
<script src="/js/register-validation.js" type="text/javascript"></script>
</body>
</html>