<nav class="navbar">
    <div class="navbar-links">
      <a id="profile-link" href="/profile">PROFILE</a>
      <a id="laundry-status-link" href="/laundrystatus">LAUNDRY STATUS</a>
      <a id="create-request-link" href="/createlaundryrequest">CREATE REQUEST</a>
      <a id="pricing-link" href="/prices">PRICING</a>
    </div>
  </nav>