<%- include('../partials/header') %>
<div class="request-submitted-container">
    <div class="thank-you-section">
        <h1 class="thank-you-title">Thank you for the laundry request.</h1>
        <p class="thank-you-message">Laundry will be picked up from your doorstep at the given time with payment once the request has been accepted.</p>
    </div>

    <div class="button-section">
        <a href="/createlaundryrequest" class="create-request-btn">New Request</a>
        <a href="/laundrystatus" class="check-status-btn">Check Status</a>
    </div>
</div>